<style>
    .activea {
        font-weight: bold;
    }

    .soluongSP {
        background-color: #F28123;
        width: 25px;
        height: 25px;
        text-align: center;
        align-items: center;
        margin-bottom: 2px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        color: white;
        font-size: 12px;
        margin-top: 5px;
        font-weight: bold;
    }

    .list-unstyled li {
        border-bottom: 1px solid;
    }

    .container__goiY {
        width: 94%;
        position: absolute;
        background-color: white;
        z-index: 9;
        left: 0;
        top: 45px;
        overflow: hidden;
        overflow-y: auto;
        border: none;
        height: 0;
        transition: all 0.15s linear;
    }

    .container__goiY::-webkit-scrollbar {
        width: 2px;
    }

    .container__goiY::-webkit-scrollbar-thumb {
        background-color: #888;
    }

    .item_goiY {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid #eaeaea;
        align-items: center;
    }

    .iformation__list {
        display: flex;
        width: 100%;
        cursor: pointer;
        align-items: center;
        color: #051922;
    }

    .item_goiY:hover {
        background-color: #eaeaea;
    }

    .item_goiY img {
        width: 70px;
        height: 50px;
        object-fit: cover;
        border-radius: 2px;
    }

    .information_pro {
        line-height: 1.5;
        margin-left: 30px;
        width: 170px;
    }

    .information_pro--ten {
        font-size: 17px;
        font-weight: bold;
    }

    .button__add--cart {
        font-size: 18px;
        color: #051922;
    }

    .information_noiDung {
        width: 50%;
        font-size: 13px;
        line-height: 1.4;
        margin-left: 25px;
        display: -webkit-box;
        /* Cho phép sử dụng thuộc tính -webkit-line-clamp */
        -webkit-line-clamp: 2;
        /* Số dòng tối đa */
        -webkit-box-orient: vertical;
        /* Hiển thị văn bản theo chiều dọc */
        overflow: hidden;
        /* Ẩn phần văn bản bị tràn */
        text-align: justify;
        /* Căn đều hai bên lề cho đoạn văn bản */
    }

    .search_item:focus {
        outline: none !important;
    }

    .search_item {
        width: 94%;
        padding: 5px 20px;
        border-radius: 2px;
        border: 1px solid #888;
    }

    .position-sticky {
        position: sticky;
        top: 9rem;
    }

    .btn-sort-price {
        padding: 0px 30px;
        background-color: white;
        color: #051922;
        border: 1px solid;
        border-top: none;
        border-bottom: none;
    }

    .btn-sort-price:hover {
        color: #F28123;
    }

    .btn-sort-price:focus {
        outline: none;
    }

    .position-group-btn {
        position: absolute;
        top: 38px;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 0px;
        transition: all 0.2s linear;
        overflow: hidden;
    }

    .btn-sort-item {
        width: 100%;
        border: none;
        background-color: white;
        color: #051922;
        transition: all 0.2s;
        border-bottom: 1px solid;
        margin-top: 2px;
    }

    .btn-sort-item:focus {
        outline: none;
    }

    .btn-sort-item:hover {
        color: #F28123;
    }

    .position-parent-btn {
        position: relative;
    }

    .activi-drop-down {
        color: #F28123;
    }

    .selected {
        font-weight: bold;
        /* Màu chữ bạn muốn đổi khi phần tử được chọn */
    }

    #tat_ca {
        font-weight: bold;
    }
</style>

<!-- products -->
<div class="product-section mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row g-4">
                    <div class="col-xl-9">
                        <form>
                            <div class="input-group mb-3">
                                <input type="text" class="search_item" id="search" ng-model="search"
                                    placeholder="Tìm kiếm cá cảnh..." autocomplete="off" style="height: 45px;">
                                <div class="input-group-append">
                                    <button class="input-group-text" ng-click="Search()"
                                        style="background-color: #051922;"><i class="fa-solid fa-magnifying-glass"
                                            style="color: white; width: 20px;"></i></button>
                                    <section class="container__goiY">
                                        <div class="item_goiY" ng-repeat="item in productsAll | filter : search">
                                            <a class="iformation__list" ng-href="#!shop-detail/{{item.id}}">
                                                <img loading="lazy"
                                                    src="https://localhost:7272/api/get-images-avatar/{{item.image}}"
                                                    alt="{{item.name}}">
                                                <div class="information_pro">
                                                    <span class="information_pro--ten"> {{item.name}} </span><br>
                                                    <span class="information_pro--gia"> {{item.price |
                                                        number:3}}đ</span>
                                                </div>
                                                <span class="information_noiDung">{{item.description}}</span>
                                            </a>
                                            <a href="" ng-click="AddToCart(item)" class="button__add--cart"><i
                                                    class="fa-solid fa-cart-plus"></i></a>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-3">
                        <div class="d-flex justify-content-between mb-4 align-items-center"
                            style="background-color: #051922; color: white; font-size: 17px; border-radius: 2px; padding: 7px 10px;">
                            <span style="font-size: 17px;">Giá bán:</span>
                            <div class="position-parent-btn">
                                <button class="btn-sort-price" id="drop-down-sort">{{title_btn}}</button>
                                <div class="position-group-btn">
                                    <button ng-show="show_btn_price" ng-click="sort_price(1)" class="btn-sort-item">Giảm
                                        dần</button>
                                    <button ng-show="!show_btn_price" ng-click="sort_price(2)"
                                        class="btn-sort-item">Tăng dần</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row product-lists">
            <div class="col-lg-3 col-md-6 strawberry">
                <div class="row g-4 position-sticky">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <span style="font-size: 24px; font-weight: bold;">Danh mục sản phẩm</span>
                            <ul class="list-unstyled fruite-categorie">
                                <li ng-repeat="item in categorys">
                                    <div class="d-flex justify-content-between fish-name">
                                        <a href="#!shop/{{item.id}}/1" ng-click="toggleColor(item)"
                                            ng-class="{ 'selected': item.isSelected }">
                                            <i class="fa-solid fa-fish" style="color: #F28123;"></i>
                                            <span id="item_{{item.id}}" data-read-data-id data-id="{{item.id}}">
                                                {{item.nameCategory}}
                                            </span>
                                        </a>
                                        <span class="soluongSP" ng-if="item.id != 0">{{item.count}}</span>
                                        <span class="soluongSP"ng-if="item.id == 0">{{Count}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-9 ">
                <div class="row">
                    <div class="col-lg-4 col-md-6 text-center strawberry" ng-repeat="item in products | orderBy: sort">
                        <div class="single-product-item">
                            <div class="product-image">
                                <a href="#!shop-detail/{{item.id}}"><img loading="lazy"
                                        src="https://localhost:7272/api/get-images-cart/{{item.image}}"
                                        alt="{{item.name}}" style="width: 100%; height: 18rem; object-fit: cover;"></a>
                            </div>
                            <h3>{{item.name}}</h3>
                            <p class="product-price orange-text">{{item.price | number :3}}₫ </p>
                            <a type="button" ng-click="AddToCart(item)" class="cart-btn"><i
                                    class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        <li><a href="#!/shop/{{IdCategory}}/{{Luiitem}}" ng-click="Next(InPage , 1)">Prev</a></li>
                        <li><a>Trang số {{InPage}} </a></li>
                        <li><a href="#!/shop/{{IdCategory}}/{{Luiitem}}" ng-click="Next(InPage , 2)">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->