<!DOCTYPE html>
<html lang="vn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cửa hàng cá cảnh RedHood uy tín chất lượng số 1 Thành phố Buôn Ma Thuột. 
        Hãy ghé ngay tại cửa hàng chúng tôi để sở hữu cho mình những chú cá cảnh tuyệt vời cho mình">

    <!-- title -->
    <title>Home - Cửa hàng cá cảnh RedHood</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/User/directives/assets/img/iconlogo.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/User/directives/assets/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/User/directives/assets/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/User/directives/assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/User/directives/assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/User/directives/assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="/User/directives/assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="/User/directives/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/User/directives/assets/css/responsive.css">

    <link rel="stylesheet" href="/directives/assets/css/responsive.css">

    <script src="./User/services/angularjs/angular.js"></script>

    <script src="./User/services/angularjs/angular-route.js"></script>

    <script src="./User/services/angularjs/angular-sanitize.js"></script>

    <link rel="stylesheet" href="/User/services/css/main.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-13W0SNCQ61"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-13W0SNCQ61');
    </script>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "Cửa hàng Redhood cung cấp loại cá nào?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Redhood Aquariums cung cấp một loạt các loại cá cảnh phong phú, bao gồm cá nước ngọt và cá nước mặn. Bạn có thể tìm thấy các loại cá như cá vàng, cá koi, cá betta, cá cảnh nhiệt đới, cá hồi, và nhiều loại cá khác."
            }
          },{
            "@type": "Question",
            "name": "Làm thế nào để chăm sóc cá cảnh một cách hiệu quả?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Chăm sóc cá cảnh đòi hỏi sự chú ý và kiến thức cụ thể về từng loại cá. Tuy nhiên, một số nguyên tắc chung bao gồm cung cấp môi trường sống phù hợp với cá, thực hiện vệ sinh thường xuyên cho hồ cá và đảm bảo cung cấp thức ăn chất lượng."
            }
          },{
            "@type": "Question",
            "name": "Tôi có thể đặt hàng trực tuyến từ Redhood không?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Vâng, bạn có thể đặt hàng trực tuyến thông qua trang web của chúng tôi. Chúng tôi cung cấp dịch vụ giao hàng nhanh chóng và đáng tin cậy đến tận cửa nhà của bạn."
            }
          },{
            "@type": "Question",
            "name": "Redhood có chính sách vận chuyển như thế nào?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Chúng tôi cam kết cung cấp dịch vụ vận chuyển an toàn và đảm bảo. Chính sách vận chuyển của chúng tôi đảm bảo rằng hàng hóa của bạn sẽ được giao đến địa chỉ mong muốn một cách kịp thời và an toàn."
            }
          },{
            "@type": "Question",
            "name": "Làm thế nào để liên hệ với bộ phận hỗ trợ của Redhood Aquariums?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Bạn có thể liên hệ với chúng tôi qua số điện thoại hoặc email được cung cấp trên trang web của chúng tôi. Đội ngũ hỗ trợ của chúng tôi sẵn lòng hỗ trợ bạn với mọi thắc mắc hoặc yêu cầu của bạn."
            }
          }]
        }
        </script>
</head>

<body ng-app="APP" ng-controller="MainController">

    <!-- <section class="mes_addToCart">
        <div class="d-flex align-items-center" style="gap: 3rem;">
            <div class="img_pro_mes">
                <img src="https://localhost:7272/api/get-images-avatar/7ecdd2e4-975e-4897-addd-743d3d2fb396_pexels-vural-yavas-1112007.jpg"
                    alt="">
            </div>
            <div class="ten_sanpham_thongbao">
                <span>Cá koi</span><br>
                <span>200.000đ</span>
                <span>x1</span>
            </div>
        </div>
    </section> -->
    <!--PreLoader-->
    <div ng-show="Loading" class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

    <!-- header -->
    <div class="top-header-area" id="sticker" style=" padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a ng-href="#!Home">
                                <div class="" style="padding-bottom: 20px;">
                                    <img src="/User/directives/assets/img/logoredhood.png" alt="Logo của RedHood">
                                </div>
                            </a>
                        </div>
                        <!-- logo -->

                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                                <li class="current-list-item"><a ng-href="#!Home">Trang chủ</a></li>
                                <li><a ng-href="#!shop/0/1">Sản phẩm </a></li>
                                <li><a ng-href="">Danh mục sản phẩm <i class="fa-solid fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li ng-repeat="item in categorys"><a ng-href="#!shop/{{item.id}}/1">
                                                {{item.nameCategory}} </a></li>
                                    </ul>
                                </li>
                                <li><a ng-href="#!blog-cart">Kiến thức nuôi cá</a>
                                </li>
                                <li><a ng-href="#!contact">Liên hệ</a></li>
                                <li>
                                    <div class="header-icons">
                                        <a class="shopping-cart" ng-href="#!cart"><i
                                                class="fas fa-shopping-cart"></i>[{{CountCart}}]</a>
                                        <a class="" type="button" ng-click="TestLogin()"><i class="fas fa-solid fa-user"
                                                style="color: #ffffff;"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->


    <div class="" ng-view></div>

    <!-- footer -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">Về chúng tôi</h2>
                        <p>Chào mừng bạn đến với cửa hàng RED HOOD! Chúng tôi tự hào là địa điểm hàng đầu để bạn khám
                            phá và mua sắm các loại cá cảnh tuyệt vời. Với nhiều năm kinh nghiệm trong ngành, chúng tôi
                            cam kết mang đến cho bạn những sản phẩm chất lượng cao và dịch vụ tuyệt vời.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Thông tin liên hệ</h2>
                        <ul>
                            <li><i class="fa-solid fa-location-dot" style="color: #f28123;"></i> 29 Nguyễn Khoa Đăng,
                                TP. Buôn Ma Thuột, Tỉnh Đắk Lắk</li>
                            <li><i class="fa-solid fa-envelope" style="color: #f28123;"></i> redhoodaquarium@gmail.com
                            </li>
                            <li><i class="fa-solid fa-phone" style="color: #f28123;"></i> 0339924208</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end footer -->

    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p><a href="#">Team Red Hood - Cao đẳng FPT Polytechnic Tây Nguyên</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <!-- end copyright -->
    <!-- jquery -->

    <script src="/User/directives/assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="/User/directives/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="/User/directives/assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="/User/directives/assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="/User/directives/assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="/User/directives/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="/User/directives/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="/User/directives/assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="/User/directives/assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="/User/directives/assets/js/main.js"></script>

    <script src="./main.js"></script>
    <script src="/User/Home/HomeController.js"></script>
    <script src="/User/components/Home/HomeController.js"></script>
    <script src="/User/components/shop/ShopController.js"></script>
    <script src="/User/components/cart/CartController.js"></script>
    <script src="/User/components/shop-detail/shop-detail.js"></script>
    <script src="/User/components/checkout/CheckController.js"></script>
    <script src="/User/components/account/accountController.js"></script>
    <script src="/User/components/BlogCard/BlogCartController.js"></script>
    <script src="/User/components/Blog/BlogController.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- link ép kiểu này tháng -->
</body>

</html>