<!DOCTYPE html>

<html lang="en" class="light-style customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="./assets/"
  data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Đăng nhập</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="./assets/img/favicon/favicon.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="./assets/vendor/fonts/boxicons.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="./assets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="./assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="./assets/css/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="./assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

  <!-- Page CSS -->
  <!-- Page -->
  <link rel="stylesheet" href="./assets/vendor/css/pages/page-auth.css" />
  <!-- Helpers -->
  <script src="./assets/vendor/js/helpers.js"></script>
  <script src="./assets/js/config.js"></script>

  <script src="./services/angularjs/angular.js"></script>
  <script src="./services/angularjs/angular-route.js"></script>

  <!-- Thư viện jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body ng-app="APP">
  <!-- Link đăng nhập bằng google -->
  <script src="https://accounts.google.com/gsi/client" async></script>
  <!-- Content -->
  <style>
    .img__gg {
      width: 20px;
    }
  </style>
  <div class="container-xxl" ng-controller="LoginController">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
              <a class="app-brand-link gap-2">
                <span class="fs-2 demo text-body fw-bolder">Red Hood</span>
              </a>
            </div>
            <!-- /Logo -->
            <h4 class="mb-2">Chào mừng bạn đến với <span class="text-primary">Red Hood</span> </h4>
            <p class="mb-4">Hãy đăng nhập bằng tài khoản của bạn</p>

            <form id="formAuthentication" ng-submit="Sumbit()" novalidate enctype="multipart/form-data" name="Login"
              class="mb-3">
              <div class="mb-3">
                <label for="UserName" class="form-label">Email</label>
                <input ng-model="UserName" type="UserName" class="form-control" id="UserName" name="UserName"
                  required />
                <span class="text-danger" ng-show="Login.UserName.$invalid">Bạn chưa nhập UserName</span>
              </div>

              <div class="mb-3 form-password-toggle">
                <div class="d-flex justify-content-between">
                  <label class="form-label" for="password">Mật khẩu</label>
                  <a href="auth-forgot-password-basic.html">
                    <small>Quên mật khẩu</small>
                  </a>
                </div>
                <div class="input-group input-group-merge">
                  <input type="password" ng-model="password" id="password" class="form-control" name="password"
                    required />
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
                <span class="text-danger" ng-show="Login.password.$invalid">Bạn chưa nhập mật khẩu</span>
              </div>

              <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" ng-disabled="Login.$invalid" type="submit">Đăng
                  nhập</button>
              </div>

            </form>
            <div class="text-center d-flex justify-content-between align-items-center">
              <!-- Tạo button đăng nhập bằng gg -->
              <div class="">
                <div id="g_id_onload"
                  data-client_id="1059882074274-npm9acokaegqf3k2v24o2a65ee2r0uu1.apps.googleusercontent.com"
                  data-callback="handleCredentialResponse" data-auto_select="true" data-auto_prompt="false"
                  data-login_uri="/User/index.html#!/">
                </div>
                <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline"
                  data-text="continue_with" data-shape="rectangular" data-logo_alignment="left">
                </div>
              </div>
              <a type="button" class="btn btn-sm btn-light" style="padding: 9px;" href="./SignIn.html">
                <span>Tạo tài khoản mới</span>
              </a>
            </div>
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>
  <!-- Hàm xử lý đăng nhập bằng gg -->
  <script>
    function handleCredentialResponse(response) {
      // decodeJwtResponse() is a custom function defined by you
      // to decode the credential response.
      const responsePayload = decodeJwtResponse(response.credential);
      if (responsePayload) {
        // Nếu responsePayload != null thì gửi thông tin email về sever 
        // Khai báo form data
        var form = new FormData();
        form.append("username", responsePayload.name);
        // setting cho ajax
        var settings = {
          "url": `https://localhost:7272/Account/${responsePayload.email}`,
          "method": "POST",
          "timeout": 0,
          "processData": false,
          "mimeType": "multipart/form-data",
          "contentType": false,
          "data": form
        };

        // Thực hiện lệnh ajax
        $.ajax(settings).done(function (response) {
          localStorage.setItem('Account', response);
          let path = localStorage.getItem('path')
          window.location.href = path
        });
      }
    }

    function decodeJwtResponse(token) {
      const base64Url = token.split('.')[1];
      const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
      const jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
      }).join(''));

      return JSON.parse(jsonPayload);
    }
  </script>

  <script src="./LoginController.js"></script>


  <script src="./assets/vendor/libs/jquery/jquery.js"></script>
  <script src="./assets/vendor/libs/popper/popper.js"></script>
  <script src="./assets/vendor/js/bootstrap.js"></script>
  <script src="./assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

  <script src="./assets/vendor/js/menu.js"></script>

  <!-- endbuild -->

  <!-- Vendors JS -->

  <!-- Main JS -->
  <script src="./assets/js/main.js"></script>

  <!-- Page JS -->

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>