<style>
    .hearder-top {
        /* position: absolute; */
        width: 100%;
        height: 7rem;
        background-color: #051922;
    }
</style>
<div class="hearder-top"></div>
<!-- contact form -->
<div class="contact-from-section" style="background-color: #0c5c9b;">
    <div class="container">
        <div class="row">
            <img src="/User/directives/assets/img/banner-baotri.png" alt="fixVNPay" srcset="">
            <div class="col-md-5"></div>
            <div class="col-md-2 mt-5 mb-5" style="margin-left: 15px;">
                <a href="#!checkout" class="boxed-btn" style="font-size: 15px; font-weight: 700; text-transform: uppercase;">QUAY LẠI</a>
            </div>
            <div class="col-md-5"></div>
            
        </div>
    </div>
</div>
<!-- end contact form -->
